services:
  defpool-proxy:
    build:
      context: .
      dockerfile: defpool-proxy/Dockerfile
    ports:
      - "3333:3333"
    environment:
      - DEFPOOL_SERVER_ENDPOINT=http://defpool-server:3000
      - RUST_LOG=info
    volumes:
      - ./defpool-proxy/defpool-proxy.toml:/app/defpool-proxy.toml

  defpool-server:
    build:
      context: .
      dockerfile: defpool-server/Dockerfile
    ports:
      - "3000:3000"
    environment:
      - RUST_LOG=info
    volumes:
      - ./defpool-server/defpool-server.toml:/app/defpool-server.toml
